/* UNIVERSAL SELECTOR */
* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(254, 254, 254);
  display: flex;
  justify-content: center;
}

/* BIG CONTAINER SHAPED */
.container {
  display: flex;
  width: 80rem; 
  height: auto;
  margin-top: 5rem;
  border-radius: 0.5rem;
  background-color: rgb(231, 240, 240);
}

/* LEFTSIDE SHAPED */
.container-item-info {
  height: auto;
  display: flex;
  flex: 1;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items:center;
}

hr {
  width: 50%;
}

/* PHOTO */
#photo {
  width: 20rem;
  height: 20rem;
  border-radius: 5rem;
}

figcaption {
  font-size: 1.2rem;
  padding: 2rem 0 0 4rem;
  margin-bottom: 3rem;
}

figcaption h2 {
    font-family:'Brush Script MT',cursive;
    font-size: 2rem;
}

.container-item-info-contact h1 {
    display: flex;
    justify-content: center;
}

.container-item-info-contact-links {
  list-style-type: none;
}

.container-item-info-contact-links .fa {
    width: 2rem;
    height: 3rem;
}

.container-item-info-skills, .container-item-info-language {
  width: 70%;
}

/* HOBBIES SHAPED */
.container-item-info-hobbies{
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;}

.hobby {
  width:5rem;
  height: 5rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 1rem 0;
}

.fa-book-open, .fa-person-swimming, .fa-person-hiking, .fa-film{
 font-size: 4rem;
}

/* HOBBIES HOVER */
.hobby:hover {
  background-color: rgb(160, 234, 234);
}
.container-item-info-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 4;
  height: 220rem;
}

/* ALL OF HEADERS TAG SHAPED */
.container-item-info-about h1 {
  text-align: center;
  font-size: 2rem;
  border-bottom: 0.2rem solid ;
}

.resume {
  width: 100%;
  height: 14rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 0.5rem groove rgb(212, 240, 240);
  border-radius: 1rem;
  color: black;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 6rem;
}

/* LINKS */
.navbar a {
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

/* NAVBAR HOVER */
.navbar a:hover {
  background-color: rgb(160, 234, 234);
}

#active:link {
  background-color:rgb(160, 234, 234) ;
}

.container-item-education{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5rem groove rgb(212, 240, 240) ;
  border-radius: 1rem;
  margin: 1rem,0;
  font-size: 1.2rem;
}

.hicoders, .adu, .kou2, .kou1, .unilu1, .unilu2 {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.gross {
  font-size: 2rem;
}

.container-item-skillsall {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  border : 4px groove rgb(212, 240, 240);
  border-radius: 2rem;
  margin: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
}

.container-item-skillsall #file2 {
  height: 2.5rem;
  width: 100%;
}

.container-item-skillsall .tecnical-skills, .language-skills {
  width: 60%;
}

.soft-skills .btnm {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  background-color: rgb(212, 240, 240);
}

/* BUTTONS SHAPED */
.btnm:hover {
  background-color: rgb(160, 234, 234);

}

.container-item-certificates {
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  border: 0.5rem groove rgb(212, 240, 240);
  border-radius: 1rem;
  margin: 3rem 0 3rem 3rem;
  font-size: 1.2rem;
}

.container-item-certificates .css, .html {
  display: flex;
}
.program{
margin-left: 5rem;
}

.container-item-certificates .uni-photo {
  width: 3rem;
  height: 3rem;
}

/* FORM SHAPED */
.box-1 {
  position: relative;
  margin: 3rem 0 4rem 15rem;
  border: 0.5rem groove rgb(212, 240, 240);
  border-radius:0.5rem;
  font-size: 1.4rem;
  width: 30rem;
  height: 37rem;
  padding: 2rem;
}

.box-2,
.box-3 {
  display: block;
}

.box-3 {
  width: 90%;
  height: 2rem;
  margin: 1rem 0;
}

.btn {
  display: block;
  height: 2rem;
  width: 70px;
  background-color:rgb(10, 185, 185);
  border-style: none;
  color: white;
  border-radius: 0.2rem;
  
}

/* MEDIA QUERIES*/
@media screen and (max-width:480px) {

  .container{
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
} 
figcaption{
  margin:0;
  height: auto;
}

.hobby{
  margin: 0;
}

.box-1{
  margin-left:1rem;
}

.navbar {
  margin-top:4rem;
  height: auto;
  margin-left: 10px;
}

.navbar a{
  height: 1rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 0 0 1rem;
}

.container-item-certificates {
  margin: 0 1rem;
}
  }

  