* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  height: auto;
  background-image: url("/images/background-img-light-mode.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

header #logo {
  width: 15rem;
}

#dark-mode-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color:rgb(255, 255, 255) ;
}

.dark-mode {
  background-image: url("/images/background-img-dark-mode.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* .dark-mode .tab-container * {
  background-color: black;
  color: white;
} */
/* .dark-mode .social-media-symbols .fa-brands, .dark-mode .contact-links .fa-solid{
  color:black ;
} */


.container {
  display: flex;
}

/* personal information and contact linsk */
.personal-info {
  flex: 2;
  height:fit-content;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  margin-top: 10rem;
  margin-left: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.personal-info .profile-img {
  width: 10rem;
  border-radius: 2rem;
}

figure {
  position: absolute;
  top: -7rem;
}

figcaption {
  text-align: center;
}

.contact-info .social-media-symbols {
  text-align: center;
}

.social-media-symbols .fa-brands,
.contact-links .fa-solid {
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
}

.social-media-symbols .fa-brands:hover,
.contact-links .fa-solid:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(247, 88, 96);
  transition:  background-color 0.3s ease-in-out;
}
a span:hover {
  color:rgb(247, 88, 96) ;
  transition: color 0.3s ease-in-out;
}

.social-media-symbols .fa-brands {
  background-color: rgb(243, 246, 246);
}
.contact-links .fa-solid {
  background-color: rgb(255, 255, 255);
}

.contact-links {
  margin: 20rem 2rem 2rem 2rem;
  background-color: rgb(243, 246, 246);
  padding: 2rem 0.3rem;
  border-radius: 1.5rem;
}

.contact-links-item {
  text-decoration: none;
  color: black;
}
.contact-links ul {
  list-style: none;
  padding:0;
}
.contact-links ul li {
  margin-bottom: 1rem;
  position: relative;
}

.contact-links ul li::after {
  content: '';
  position: absolute;
  margin-top: 2rem;
  left: 10%; /* set the left position to 25% to center the border */
  width: 60%; /* set the width of the border to 50% */
  height: 1px; /* set the height of the border to 2px */
  background-color: gray ; /* set the color of the border */
}

#link-download-CV {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
  width: 40%;
  height: 3rem;
  border-radius: 2rem;
  background-color: rgb(236,62,98);
  text-decoration: none;
}

#link-download-CV:hover {
  background-color:rgb(244, 7, 86)
}

/* the content of portfolio (education, skills, contact form, etc.) */

.content {
  flex: 5;
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

/* navbar */
.content .navbar {
  width: 60%;
  height: 7rem;
  margin-top: 15rem;
  border-radius: 1.5rem;
  background: rgb(255, 255, 255);
  margin-left: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .tablinks {
  background-color: rgb(243, 246, 246);
  border: none;
  width: 14%;
  height: 4.5rem;
  border-radius: 1rem;
}

.navbar button.active {
  background-color: rgb(228, 48, 109);
  color: rgb(255, 255, 255);
}

.navbar .tablinks:hover, #dark-mode-btn:hover {
  cursor: pointer;
  background-color: rgb(228, 48, 109);
  color: rgb(255, 255, 255);
}

.nav-btn {
  font-size: 1.5rem;
}

/* tab-content with js added and here styled */

.tab-container {
  background-color: rgb(255, 255, 255);
  margin-top: 2rem;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
}

.tabcontent h2 {
  position: relative;
}

.tabcontent h2:after {
  content: "";
  left: 11.3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.5em;
  border-top: 3px solid rgb(236,62,98);
  width: 30%;
}

.carts-div, .tabskills-content{
  display: flex;
  flex-wrap: wrap;
}

#home-page p {
  text-align: center;
}

.cart {
  display: flex;
  width: 40%;
  margin: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  text-align:center;
}

.cart-icon {
  font-size: 3rem;
  flex: 1;
}
.app {
  color: rgb(221, 160, 10);
}
.ui {
  color: rgb(213, 102, 255);
}

.photo-1 {
  color: rgb(135, 116, 255);
}
.photo-2 {
  color: rgb(255, 96, 128);
}
.management {
  color: rgb(255, 117, 216);
}
.development {
  color: #269fff;
}

.cart-text {
  flex: 3;
}

.cart-one, .cart-nine  {
  background-color: rgb(252, 243, 255);
}
.cart-two, .cart-seven{
  background-color: rgb(253, 250, 240);
}
.cart-three , .cart-ten{
  background-color: rgb(252, 243, 255);
}

.cart-four, .cart-eight {
  background-color: rgb(255, 243, 244);
}
.cart-five {
  background: rgb(254, 240, 248);
}

.cart-six {
  background-color: rgb(242, 250, 254);
}


/* skills */

.navbar-skills button{
  background: none;
  border: none;
}
.navbar-skills button:hover{
  cursor: pointer;
}
.navbar-skills button.active {
  font-weight: bold;
  font-size: larger;
  background: none;
  border: none;
  text-decoration: underline;

}

#skills .cart{
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.cart-text img {
  width: 5rem;
  height: 5rem;
 
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;   
}
.bar-html {
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(242,101,36) 95%, pink 0); 
}
.bar-html::before {
  content: "95%";
}
.bar-css {
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(3,112,185) 90%, pink 0); 
}

.bar-css::before {
  content: "90%";
}

.bar-bootstrap {
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(120,15,246) 90%, pink 0);   
}
.bar-bootstrap::before {
  content: "90%";
}

.bar-js{
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(247,223,28) 75%, pink 0); 
  
}
.bar-js::before {
  content: "75%";
}

.bar-react{
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(83,161,255) 70%, pink 0); 
}
.bar-react::before {
  content: "70%";
}

.bar-node {
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(48,48,48) 50%, pink 0); 
}

.bar-node::before {
  content: "50%";
}

.bar-express{
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(241,196,14) 50%, pink 0); 
}
.bar-express::before {
  content: "50%";
}
.bar-mysql{
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(1,117,143) 40%, pink 0); 
}
.bar-mysql::before {
  content: "40%";
}

.bar-git {
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(0,0,0) 70%, pink 0);
}

.bar-git::before {
  content: "70%";
}

.bar-db{ 
  background: 
  radial-gradient(closest-side, white 79%, transparent 80% 100%),
  conic-gradient(rgb(0,0,0) 30%, pink 0);
}
.bar-db::before{
  content: "30%";
}

/* contact form*/

.form-container {
  background-color: rgb(252,250,240);
  padding: 2rem;
}

.form-container p {
  text-align: center;
}

.form-container form input, textarea{
width: 50%;
margin:1rem 0;
border: none;
border-bottom: 0.01rem solid gray;
outline: none;
background-color: rgb(252,250,240)
}

.form-container form input:focus, textarea:focus {
  border-bottom: 0.1rem solid rgb(228,48,109);
}


.form-container form button {
  background-color:rgb(228,48,109) ;
  color: white;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem; 
}

.form-container form button:hover {
  background-color:rgb(244, 7, 86);
  cursor: pointer;
}

/* footer */
footer {
  height: 4rem;
  background-color: rgb(242,250, 254);
  border-radius:0 0 1rem 1rem ;
  margin-bottom: 2rem;
  text-align: center;
}

footer .far {
font-size: 3rem;
position: fixed;
bottom: 0;
right: 0;
color:rgb(228,48,109);
}


@media screen and (max-width: 480px) {
  body {
    min-width: 480px;
  }
  .container {
    flex-direction: column;
    margin: 0%;
  }
  .personal-info{
    margin-left: 1rem;
    width: 90%;
  }
  .content .navbar {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }
  .cart {
    width: 100%;
  }
  #skills .cart{
    width: 30%;
  }
  .form-container form input, textarea{
    width: 100%;
    }
}